/wordpress/
/vendor/
/content/plugins/*
/content/uploads/
/content/upgrade/
/content/upgrade-temp-backup/
/content/cache/
/content/languages/
/content/themes/h2-block-theme/
/content/mu-plugins/*/vendor/
/content/mu-plugins/*/node_modules/
/content/mu-plugins/*/build/
/content/themes/*/vendor/
/content/themes/*/node_modules/
/content/themes/*/build/
/.env
.phpcs.cache
.phpunit.result.cache
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
